<div class="SelfCare">
    <div class="parent">
 <div class="mainText">
        <h1 class="eich1">{{translations.depend}}</h1>
        <div class="Batoni">
            <button routerLink="/ContactUs">{{translations.contact}}</button>
            <button routerLink="/Members">{{translations.members}}</button>
        </div>
    </div>
    </div>
   
</div>

<!-- <div class="centre"> -->
    <div class="contente">
        <div class="LittleObject">

  <div class="Section Color1">
  <img class="Logo" src="https://drive.google.com/uc?export=download&id=1vVMsWMnCRDRMiM-qsIceyJ-5Wpi0PBJF" alt="Brush">
  <h1>{{translations.artTh}}</h1>
</div>

<div class="Section Color2">
  <img class="Logo"  src="https://drive.google.com/uc?export=download&id=1Zbn7BAiD3qrRGgAxEGlQgkq4827kzd-h" alt="Music">
  <h1>{{translations.musicTh}}</h1>
</div>

<div class="Section Color3">
  <img class="LogoDiff" src="https://drive.google.com/uc?export=download&id=1d7fArxjU5XQkEirWmJH1KZRgElKnR9j5" alt="Speak">
  <h1>{{translations.Speech}}</h1>
</div>

<!-- https://cdn-icons-png.flaticon.com/128/11966/11966150.png -->

<!-- dzveli -->
 <!-- https://cdn-icons-png.flaticon.com/128/1247/1247944.png -->


        </div>
        <h1 class="Bardi">{{translations.responsible}}</h1>
        <div class="Pi">
            <p class="aboutUs">{{translations.lorem}} <a class="aboutUs Clos" routerLink="/TimeTable">{{translations.Nextpage}}</a></p>
            <div class="bullet">
            <ul>
                <li>{{translations.b1}}</li>
                <li>{{translations.b2}}</li>
                <li>{{translations.b3}}</li>
                <li>{{translations.b4}}</li>
                <li>{{translations.b5}}</li>
                <li>{{translations.b6}}</li>
                <li>{{translations.b7}}</li>
                <li>{{translations.b8}}</li>
                <li>{{translations.b9}}</li>
                <li>{{translations.b10}}</li>
            </ul>
            </div>


        </div>

</div>

<!-- </div> -->