<div class="centr">
  <h1 class="Did">{{translations.Did}}</h1>
  <p class="Gre">{{translations.Gre}}</p>
</div>


<div class="centre">

<h1 class="Didi">{{translations.Smena1}}</h1>

<div class="timetable-wrapper">



<div class="timetable">

    <!-- Top Row: empty + day names -->
    <div class="header"></div>
    <div class="header">{{translations.mond}}</div>
    <div class="header">{{translations.tues}}</div>
    <div class="header">{{translations.wedn}}</div>
    <div class="header">{{translations.thur}}</div>
    <div class="header">{{translations.frid}}</div>
    <div class="header">{{translations.satu}}</div>
    <div class="header">{{translations.sund}}</div>

    <!-- Row 1 -->
    <div class="timek">10:00 - 10:45</div>
    <div class="cell">{{translations.tableFirst}}</div>
    <div class="cell">{{translations.tableFirst}}</div>
    <div class="cell">{{translations.tableFirst}}</div>
    <div class="cell">{{translations.tableFirst}}</div>
    <div class="cell">{{translations.tableFirst}}</div>
    <div class="cell">{{translations.tableFirst}}</div>
    <div class="cell">{{translations.tableFirst}}</div>

    <!-- Row 2 -->
    <div class="time">10:45 - 11:30</div>
    <div class="cell">{{translations.musicTh}}</div>
    <div class="cell">{{translations.artTh}}</div>
    <div class="cell">{{translations.TaleTh}}</div>
    <div class="cell">{{translations.musicTh}}</div>
    <div class="cell">{{translations.artTh}}</div>
    <div class="cell">{{translations.TaleTh}}</div>
    <div class="cell">{{translations.musicTh}}</div>

    <!-- Row 3 -->
    <div class="time">11:30 - 12:15</div>
    <div class="cell">{{translations.RestingTime}}</div>
    <div class="cell">{{translations.RestingTime}}</div>
    <div class="cell">{{translations.RestingTime}}</div>
    <div class="cell">{{translations.RestingTime}}</div>
    <div class="cell">{{translations.RestingTime}}</div>
    <div class="cell">{{translations.RestingTime}}</div>
    <div class="cell">{{translations.RestingTime}}</div>

    <!-- Row 4 -->
    <div class="time">12:15 - 13:00</div>
    <div class="cell">{{translations.artTh}}</div>
    <div class="cell">{{translations.TaleTh}}</div>
    <div class="cell">{{translations.cullinary}}</div>
    <div class="cell">{{translations.cullinary}}</div>
    <div class="cell">{{translations.musicTh}}</div>
    <div class="cell">{{translations.TaleTh}}</div>
    <div class="cell">{{translations.artTh}}</div>

    <!-- Row 5 -->
    <div class="time">13:00 - 13:45</div>
    <div class="cell">{{translations.TaleTh}}</div>
    <div class="cell">{{translations.musicTh}}</div>
    <div class="cell">{{translations.artTh}}</div>
    <div class="cell">{{translations.TaleTh}}</div>
    <div class="cell">{{translations.cullinary}}</div>
    <div class="cell">{{translations.artTh}}</div>
    <div class="cell">{{translations.musicTh}}</div>

    <!-- Row 6 -->
    <div class="time">13:45 - 14:30</div>
    <div class="cell">{{translations.cullinary}}</div>
    <div class="cell">{{translations.cullinary}}</div>
    <div class="cell">{{translations.musicTh}}</div>
    <div class="cell">{{translations.artTh}}</div>
    <div class="cell">{{translations.TaleTh}}</div>
    <div class="cell">{{translations.musicTh}}</div>
    <div class="cell">{{translations.artTh}}</div>
   <!-- Row 7 -->
     <div class="time">14:30 - 15:00</div>
    <div class="cell">{{translations.physwork}}</div>
    <div class="cell">{{translations.physwork}}</div>
    <div class="cell">{{translations.physwork}}</div>
    <div class="cell">{{translations.physwork}}</div>
    <div class="cell">{{translations.physwork}}</div>
    <div class="cell">{{translations.physwork}}</div>
    <div class="cell">{{translations.physwork}}</div>

</div>
</div>
</div>
