.timetable {
  display: grid;
  grid-template-columns: 120px repeat(7, minmax(150px, 1fr));
  grid-auto-rows: 90px;
  overflow-x: scroll;

}

.header {
  font-size: 30px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
}

.time {
  border: 1px solid rgb(58, 177, 137);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

.centr{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 40px;
  flex-direction: column;
}


.centre{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 20px;
  flex-direction: column;
    border-top: 2px dotted rgb(58, 177, 137);
    gap: 15px;
}

.Did{
  font-size: 60px;
  color: black;
}


.Didi{
  font-size: 45px;
  color: black;
}


.Gre{
  font-size: 30px;
  color: rgb(56, 56, 56);
}

.timek {
  border: 1px solid rgb(58, 177, 137);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 17px;
}
.cell {
  border: 1px solid rgb(58, 177, 137);
  font-size: 25px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@media (max-width: 425px) and (min-width: 376px) {

.timetable{
    grid-template-columns: 100px repeat(7, minmax(150px, 1fr));
  grid-auto-rows: 90px;

}



.Gre{
  font-size: 25px;
}

.Did{
  font-size: 45px;
  color: black;
}

.Didi{
  font-size: 35px;
  color: black;
}

.header{
  font-size: 20px;
}



.cell{
  font-size: 15px;
  padding: 10px;



}

.timetable {
  margin-left:726px;

}






}