
<div class="Center">
    <h1 class="bigBon">{{translations.OurStaf}} </h1>
    </div>
    
<div class="Grid">
    <div class="Card">
        <img src="https://i.redd.it/i-got-bored-so-i-decided-to-draw-a-random-image-on-the-v0-4ig97vv85vjb1.png?width=1280&format=png&auto=webp&s=7177756d1f393b6e093596d06e1ba539f723264b" alt="">
        <h1 class="Name">{{translations.Tamuna}} 1</h1>
        <h2 class="Prof">{{translations.TaWork}}</h2>
    </div>
   <div class="Card">
        <img src="https://i.redd.it/i-got-bored-so-i-decided-to-draw-a-random-image-on-the-v0-4ig97vv85vjb1.png?width=1280&format=png&auto=webp&s=7177756d1f393b6e093596d06e1ba539f723264b" alt="">
         <h1 class="Name">{{translations.Tamuna}} 2</h1>
        <h2 class="Prof">{{translations.TaWork}}</h2>
    </div>
    <div class="Card">
        <img src="https://i.redd.it/i-got-bored-so-i-decided-to-draw-a-random-image-on-the-v0-4ig97vv85vjb1.png?width=1280&format=png&auto=webp&s=7177756d1f393b6e093596d06e1ba539f723264b" alt="">
         <h1 class="Name">{{translations.Tamuna}} 3</h1>
        <h2 class="Prof">{{translations.TaWork}}</h2>
    </div>
    <div class="Card">
        <img src="https://i.redd.it/i-got-bored-so-i-decided-to-draw-a-random-image-on-the-v0-4ig97vv85vjb1.png?width=1280&format=png&auto=webp&s=7177756d1f393b6e093596d06e1ba539f723264b" alt="">
         <h1 class="Name">{{translations.Tamuna}} 4</h1>
        <h2 class="Prof">{{translations.TaWork}}</h2>
    </div>
     <div class="Card">
        <img src="https://i.redd.it/i-got-bored-so-i-decided-to-draw-a-random-image-on-the-v0-4ig97vv85vjb1.png?width=1280&format=png&auto=webp&s=7177756d1f393b6e093596d06e1ba539f723264b" alt="">
          <h1 class="Name">{{translations.Tamuna}} 5</h1>
        <h2 class="Prof">{{translations.TaWork}}</h2>
    </div>
</div>

