.Grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* responsive columns */
  gap: 2.4rem;
  padding: 60px 40px;
  justify-items: center; /* centers the cards horizontally */
}

/* Card Styling */
.Card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-radius: 15px;
  border: 2px solid rgb(58, 177, 137);
  padding: 20px;
  transition: box-shadow 0.4s ease, transform 0.3s ease;
  text-align: center;
  max-width: 300px;
}

.Card:hover {
  transform: translateY(-5px);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 8px 24px;
}

/* Image */
.Card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

/* Text */
.Name {
  font-size: 1.5rem;
  color: #000;
  margin-top: 15px;
}

.Prof {
  font-size: 1.1rem;
  color: rgb(90, 89, 89);
  margin-top: 0.3rem;
}

.Center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 40px 0 20px;
  border-bottom: 2px solid rgb(25, 75, 58);
  width: fit-content;
  margin: 0 auto;   
}

.bigBon{
    font-size: 60px;
    color: #000;
}

@media (max-width: 425px) and (min-width: 376px) {

  .Card img {
  width: 100%;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
}

.Card{
  width: 160px;
  height: auto;
}

.Name{
  font-size: 1.14rem;
}

.Prof{
  font-size: 0.88rem;
}

.Grid {
    grid-template-columns: repeat(2, 1fr);
    max-width: 200px;
    margin-right: 30px;
  }

.bigBon{
  font-size: 2.5rem;
}


}
