nav{
    top: 100%;
    background-color: rgba(58, 177, 137, 0.7);
    border-bottom: 5px solid rgb(25, 75, 58) ;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    width: 100%;
    transition: background-color 0.7s ease, border-bottom 0.7s ease;
}

nav:hover{
    background-color: rgb(25, 75, 58);
    border-bottom: 5px solid rgb(58, 177, 137);
}


.Batonchiki{
    height: 30px;
    width: 80px;
    background-color: rgb(185, 189, 188);
    transition: background-color 0.7s ease;
}

.Batonchiki:hover{
    cursor: pointer;
    background-color:rgb(58, 177, 137) ;
}

.TheOne{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}


.Text{
    color: black;
    font-size: 2.2rem;
    text-decoration: none;
    transition: color 0.6s;
}

.Text:hover{
    color: rgb(117, 209, 178);
}

.Divan{
    display: flex;
    gap: 20px;
}

.img{
    height: 6rem;
    width: 6rem;
}

.img:hover{
    cursor: pointer;
}


@media (max-width: 425px) and (min-width: 376px) {
  .Text{
    font-size: 1rem;
  }

  .Batonchiki{
     height: 1.35rem;
    width: 2.8rem;
    background-color: rgb(185, 189, 188);
    transition: background-color 0.7s ease;
  }
.img {
  height: 3.8rem;
  width: 3.8rem;
}


  nav{
    top: 100%;
    background-color: rgba(58, 177, 137, 0.7);
    border-bottom: 3px solid rgb(25, 75, 58) ;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 100%;
    transition: background-color 0.7s ease, border-bottom 0.7s ease;
}

.TheOne{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
}

.Divan{
    gap: 0.7rem;
}


}
