/* src/styles.scss */

/* Global reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Remove default body margin from browser */
html, body {
  margin: 0 !important;
  padding: 0 !important;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

/* Root layout */
app-root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Main content area */
.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 0;
  overflow-y: auto;

  scrollbar-width: none;
  -ms-overflow-style: none;
}

.content > * {
  flex: 1;
}

.content::-webkit-scrollbar {
  display: none;
}
