<footer>
    <nav>
<div class="grid">
    <div class="contact">
        <img src="images/call.png" alt="phone">
        <h1>{{translations.Phone}}</h1>
    </div>
       <div class="contact">
        <img src="images/pin.png" alt="location">
        <h1>{{translations.Address}}</h1>
    </div>
       <div class="contact">
        <img src="images/email.png" alt="email">
        <h1>{{translations.Email}}</h1>
    </div>
</div>


    <div class="contain">

             <ul>
        <li class="textavoi">{{translations.Contact}}</li>
        <li class="talan">{{translations.Facebook}}</li>
    </ul>

    <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d8666.977282194288!2d44.72269449998608!3d41.741957358082246!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x404473c82c72921f%3A0x3ece3db640705fb6!2sLisi%20House!5e0!3m2!1sen!2sge!4v1761582998307!5m2!1sen!2sge" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>



    </div>


</nav>
</footer>

<!-- Tbilisi Georgia, Village thkinvali -->
