footer nav {
  width: 100%;
  height: auto;
  background-color: rgb(220, 198, 235);
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  border-top: 5px solid #777676;
  margin: 0;
  transition: box-shadow 0.3s ease;
}

footer nav:hover {
 box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
h1{
  font-size: 15px;
}

img{
  height: 50px;
  width: 50px;
}

// footer nav:hover{
//     background-color: rgb(2, 43, 29);
// }

.grid{
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 60px;
  border-bottom: 2px solid #777676;
  margin: 15px;
}

.contain{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  background-color:rgba(18, 209, 161, 0.562);
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
  transition: box-shadow 0.3s ease;
  margin-bottom: 0px;
}

.contain:hover{
box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.map {
    width: 100%;
    overflow: hidden;
}

ul {
  display: grid;
  grid-template-rows: repeat(2, auto);
  gap: 10px;
  text-align: center;
  justify-items: center;
}


.map iframe {
    width: 100%;
    max-width: 100%;
    height: 300px;
}


.contact{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.textavoi {
  color: rgb(44, 133, 103);
  font-weight: bold;
  list-style: none; /* remove bullet */
  font-size: 30px;
}

.talan{
    color: rgb(16, 48, 37);
  font-weight: bold;
  list-style: none; /* remove bullet */
  font-size: 17px;
}

@media (max-width: 425px) and (min-width: 376px) {

.contain{
    flex-direction: column-reverse;
}

img{
    height: 25px;
    width: 25px;
}

h1{
    font-size: 12px;
}
.grid{
  gap: 15px;
}

.contact{
  gap: 5px;
}

}